# Ignore compiled files
# 忽略编译后的文件

*.class
*.o
*.obj

# Ignore build output directories
# 忽略构建输出目录
Project/build/*

# Ignore IDE and editor files
# 忽略IDE和编辑器文件
Project/.vscode/


# Ignore package manager files
# 忽略包管理器文件
node_modules/
vendor/

# Ignore logs and temporary files
# 忽略日志和临时文件
*.log
*.tmp
*.swp

# Ignore sensitive or personal files
# 忽略敏感或个人文件
config.ini
secrets.txt
/参考资料
/TSMaster

# Ignore operating system files
# 忽略操作系统文件
.DS_Store
Thumbs.db